.title {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
}

.title li {
  margin-right: 15px;
  color: white;
  font-size: 20px;
}

.header {
  background-color: #4d4d4d;
  margin-bottom: 50px;
}

.header .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
}

.search {
  margin: auto 0;
  position: relative;
}

.fa-search {
  position: absolute;
  right: 7px;
  top: 7px;
  color: #4d4d4d;
  font-size: 25px;
  cursor: pointer;
}

.search input {
  border-radius: 5px;
  height: 40px;
  border: 0;
  padding: 0px 10px;
}

.logodiv {
  margin: auto 0;
}

.logo {
  color: white;
  font-weight: bold;
  margin-bottom: 0;
}

.loging {
  position: relative;
  margin: auto 0;
  color: aliceblue;
  padding-left: 40px;
}

.loging:hover {
  color: white;
  text-decoration: none;
}

.fa-user {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 25px;
}

.banner .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.swiper-slide {
  position: relative;
}

.banner {
  overflow: hidden;
}

.back {
  width: 100%;
  height: 500px;
  position: absolute;
  background: #999999;
}

.swiper-container {
  height: 500px;
  width: 100%;
  overflow: unset;
}

img {
  height: 100%;
  width: 100%;
}

.bot h1 {
  margin-top: 10px;
  text-align: left;
  font-size: 32px;
}

.bot span {
  display: block;
  text-align: left;
}

.bot p {
  text-align: left;
  white-space: nowrap;
  max-width: 320px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fa-play-circle {
  font-size: 60px;
  color: #fbb03b;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.playbox {
  position: relative;
  background: #808080;
  width: 100%;
  height: 200px;
}

.minititle {
  color: white;
  background: #fbb03b;
  padding: 2px 10px;
  position: absolute;
  bottom: -10px;
  font-size: 12px;
}

.newstitle {
  width: 100%;
  max-width: 50%;
  padding: 0 8px;
  position: relative;
}

.newstitle:nth-of-type(odd) {
  border-right: 1px solid #4d4d4d;
}

.newstitle:nth-of-type(odd) .hide {
  height: 20px;
  width: 100%;
  background: white;
  position: absolute;
}

.time {
  margin-top: 12px;
}

.time h3 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  padding-left: 10px;
}

.time p {
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #4d4d4d;
  padding-left: 10px;
}

.leftmain {
  position: relative;
}

.leftmain::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 75px;
  background: white;
  top: 0;
  right: -1px;
}

.videonews {
  border-bottom: 1px solid #4d4d4d;
  margin-bottom: 30px;
}

.videonews h2 {
  font-weight: bold;
  margin-bottom: 37px;
  padding-top: 0;
  padding-left: 20px;
  border-left: 20px solid #fbb03b;
  height: 36px;
  font-size: 36px;
  line-height: 27px;
}

.checkmore {
  color: #808080;
  float: right;
  margin-bottom: 40px;
}

.checkmore:hover {
  color: #808080;
  text-decoration: none;
}

.newsMiniTitle {
  position: relative;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.newsMiniTitle .playbox {
  height: 100px;
}

.newsMiniTitle .playbox .fa-play-circle {
  font-size: 40px;
}

.newsMiniTitle .time {
  margin-top: 0;
}

.newsMiniTitle .time h3 {
  margin-bottom: 0;
}

.newsMiniTitle .time p {
  border: 0;
  margin-bottom: 0px;
}

.newsMiniTitle .bottomline {
  height: 20px;
  width: 100%;
  background: transparent;
  border-bottom: 1px solid #4d4d4d;
}

.newsMiniTitle .hide {
  left: -2px;
  height: 20px;
  width: 5px;
  background: white;
  position: absolute;
}

.top10 h2 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #4d4d4d;
}

.select {
  overflow: hidden;
  max-width: 70%;
  margin: 14px auto 10px;
}

.select .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.select .swiper-wrapper .swiper-slide {
  width: unset;
  color: #b3b3b3;
}

.select .select-prev {
  left: 15px;
}

.select .select-next {
  right: 15px;
}

.select .arrow {
  color: #b3b3b3;
  width: 15px;
  height: 15px;
  line-height: 10px;
  position: absolute;
  top: 95px;
  cursor: pointer;
  border: 1px solid #666161;
}

.rightnews li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rightnews li span {
  margin-right: 20px;
  width: 10px;
  font-weight: bold;
}

.rightnews li p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}

.rightnews > div > p {
  margin-left: 30px;
  color: #b3b3b3;
  font-size: 12px;
  margin-bottom: 12px;
}

.fb {
  padding-top: 35px;
  border-top: 1px solid #999999;
  margin-top: 35px;
}

.fb .topfb {
  padding: 10px;
  background: #808080;
}

.fb .topfb .topfbrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fb .topfb .topfbrow > div > p {
  font-size: 24px;
  margin-bottom: 0;
  margin-left: 10px;
  line-height: 18px;
  color: white;
}

.fb .topfb .topfbrow > div > span {
  font-size: 12px;
  color: white;
  margin-left: 10px;
}

.fb .topfb > span {
  margin-top: 50px;
  margin-left: 5px;
  display: inline-block;
}

.fb .topfb > span .fa-facebook-square {
  color: #3559a2;
  font-size: 30px;
}

.fb .topfb .user-photo {
  width: 50px;
  height: 50px;
  background: #595454;
}

.fb .midfb .user-photo {
  width: 50px;
  height: 50px;
  background: #595454;
}

.fb .midfb .topfbrow {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fb .midfb .topfbrow > span {
  margin-left: auto;
  margin-right: 0;
}

.fb .midfb .topfbrow .fbName {
  font-size: 24px;
  margin-bottom: 0;
  margin-left: 10px;
  line-height: 48px;
  color: black;
}

.fb .midfb .topfbrow .fa-facebook-square {
  color: #3559a2;
  font-size: 30px;
  line-height: 50px;
}

.fb .bottomfb {
  margin-bottom: 30px;
}

.fb .bottomfb .row {
  padding: 10px;
}

.fb .bottomfb .fbBox {
  height: 150px;
  background: #808080;
  margin: 0 auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  max-width: 48%;
}

.thirdVer {
  position: relative;
  margin-bottom: 30px;
}

.thirdVer .thirdR {
  border-bottom: 1px solid #808080;
}

.thirdVer .thirdLeft {
  border-right: 1px solid #4d4d4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.thirdVer .newsMiniTitle {
  max-width: 100%;
  border-right: 0;
  padding: 20px 0px 0px 0px;
}

.thirdVer .thirdRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #808080;
}

.thirdVer .thirdRight h3 {
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 60%;
}

.thirdVer .thirdRight p {
  font-size: 12px;
}

.thirdVer .hide {
  bottom: -1px;
  left: -1px;
  height: 20px;
  width: 15px;
  position: absolute;
  background: white;
}

.thirdVer .checkmore {
  margin-bottom: 0;
}

.thirdR div:nth-last-of-type(2) {
  border: 0;
}

.Ad {
  margin-top: 45px;
  border-bottom: 1px solid #999999;
  border-top: 1px solid #999999;
}

.Ad > .row {
  display: block;
  background: #595454;
  height: 1042px;
  margin: 10px 10px 10px 10px;
}

.Ad > .row p {
  text-align: right;
  color: white;
}
/*# sourceMappingURL=style.css.map */